.menu{
    list-style:none;
    float:left;
}

.menu li{
    position:relative;
    float:left;
 }

 .menu li a{color:white; text-decoration:none; padding:5px 10px; display:block;}

 .menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color: var(--bg-dark);
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    display:block;
    width:150px;
 }

/* 
 @media(max-width: 576px){
    .menu-drop2{
        list-style:none;
        float:left;
    }
 } */